$fontfamily: 'PingFang SC', 'STHeitiSC-Light', 'Microsoft YaHei', sans-serif;
$blue: #2A76F7;
$level-1: #00e400;
$level-2: #ffff00;
$level-3: #ff7e00;
$level-4: #ff0000;
$level-5: #99004c;
$level-6: #7e0023;

// sass-lint:disable no-universal-selectors
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
ul, ol, li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
    &:hover {
        color: #000;
    }
}
img {
    border: 0;
}
em {
    font-style: normal;
}
button, input, select, textarea {
    font-family: $fontfamily;
    font-size: 100%;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &[disabled] {
        background-color: #C7C7C7;
        cursor: default;
    }
}
.clearfix:after {
    content: ".";
    display: block; 
    clear: both; 
    height: 0; 
    font-size: 0; 
    visibility: hidden;
}
html {
    font-size: 16px;
}
body {
    min-height: 100vh;
    background-color: #0A4A78;
    background-image: linear-gradient(-180deg, #0A4A78 3%, #096F99 52%, #07226B 100%);
    color: #000;
    font-family: $fontfamily;
    line-height: 1.2;
}
[v-cloak] {
    display: none;
}
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block {
    display: none !important;
}
.wrapper {
    @media (max-width: 1024px) {
        & {
            padding: 0 1rem;
        }
    }
    @media (min-width: 1025px) {
        & {
            padding: 0 3.75rem;   
        }
    }
}
.app {
    min-height: 100vh;
}
.switch {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 2rem;
    border: 2px solid $blue;
    border-radius: 999rem;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 999rem;
    background-color: $blue;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "off";
    width: 50%;
    left: 0;
    top: 0;
    border-radius: 999rem;
    background-color: #fff;
    color: $blue;
    font-size: 1.13rem;
    line-height: calc(2rem - 4px);
    text-align: center;
    transition: .4s;
}
input:focus+.slider {
    box-shadow: 0 0 1px $blue;
}
input:checked+.slider:before {
    content: 'on';
    transform: translateX(100%);
}
.air {
    position: relative;
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
}
.dashboard {
    margin-top: 1.5rem;
    border: 2px solid #fff;
    border-top: 0;
}
.dashboard-hd {
    display: flex;
    position: relative;
    width: calc(100% + 4px);
    text-align: center;
    align-items: center;
    transform: translateX(-2px);
    span {
        display: inline-block;
        padding-left: 0.5rem;
    }
    
    &:before,
    &:after {
        flex-grow: 1;
        content: '';
        border-top: 2px solid #fff;
    }
}
.dashboard-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.63rem 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.63rem;
}
.dashboard-point {
    width: 5rem;
    padding: 0 0.5rem;
    font-size: 0.875em;
    text-align: center;
}
.dashboard-subtitle {
    margin-bottom: 0.63rem;
    font-size: 1.88rem;
    text-align: center;
}
.dashboard-icon {
    width: 8.13rem;
    align-self: stretch;
    background: no-repeat left center;
    background-size: contain;
    margin: 0.3rem 0;
    .dashboard-pm25 & {
        background-image: url(../images/dashboard/pm25.svg);
    }
    .dashboard-ozone & {
        background-image: url(../images/dashboard/ozone.svg);
    }
    .dashboard-so2 & {
        background-image: url(../images/dashboard/so2.svg);
    }
    .dashboard-pm10 & {
        background-image: url(../images/dashboard/pm10.svg);
    }
    .dashboard-no2 & {
        background-image: url(../images/dashboard/no2.svg);
    }
    .dashboard-co & {
        background-image: url(../images/dashboard/co.svg);
    }
}
.dashboard-primary:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 4.88rem;
    height: 72%;
    background: url(../images/primary.svg) no-repeat right top;
    background-size: contain;
}
.dashboard-pm25:before {
    background-image: url(../images/dashboard/pm25.svg);
}
.dashboard-ozone:before {
    background-image: url(../images/dashboard/ozone.svg);
}
.dashboard-so2:before {
    background-image: url(../images/dashboard/so2.svg);
}
.dashboard-pm10:before {
    background-image: url(../images/dashboard/pm10.svg);
}
.dashboard-no2:before {
    background-image: url(../images/dashboard/no2.svg);
}
.dashboard-co:before {
    background-image: url(../images/dashboard/co.svg);
}
.dashboard-status {
    flex-grow: 1;
    padding: 0 4px;
    border-radius: 4px;    
    white-space: nowrap;
}
.dashboard-level-1,
.dashboard-level-2 {
    .dashboard-data {
        margin-right: 0.5rem;
        line-height: 1;
    }
    .dashboard-unit {
        display: block;
    }
}
.dashboard-level-3 .dashboard-status {
    background-color: $level-3;
}
.dashboard-level-4 .dashboard-status {
    background-color: $level-4;
}
.dashboard-level-5 .dashboard-status {
    background-color: $level-5;
}
.dashboard-level-6 .dashboard-status {
    background-color: $level-6;
}
.chart {
    border: 2px solid #fff;
    margin: 1.25rem 0;
}
.average-chart {
    .select {
        display: none;
    }
}
.chart-hd {
    margin-bottom: 0.5rem;
}
.chart-tab {
    button {
        padding: 2px 0.3rem 0 0.3rem;
        border-radius: 999rem;
        background: none;
        color: #01BBFF;
    }
    sub {
        vertical-align: text-bottom;
        font-size: 60%;
    }
}
@each $type in (pm25, ozone, so2, pm10, no2, co) {
    .chart-selected-#{$type} .chart-#{$type} {
        background: #01BBFF;
        color: #fff;
    }
}
.chart-bd {
    height: 9.38rem;
}
.ct-level-1 .ct-bar,
.ct-level-1 .ct-line,
.ct-level-1 .ct-point,
.ct-level-1 .ct-slice-donut {
    stroke: $level-1;
}
.ct-level-1 .ct-1rea,
.ct-level-1 .ct-slice-donut-solid,
.ct-level-1 .ct-slice-pie {
    fill: $level-1;
}
.ct-level-2 .ct-bar,
.ct-level-2 .ct-line,
.ct-level-2 .ct-point,
.ct-level-2 .ct-slice-donut {
    stroke: $level-2;
}
.ct-level-2 .ct-2rea,
.ct-level-2 .ct-slice-donut-solid,
.ct-level-2 .ct-slice-pie {
    fill: $level-2;
}
.ct-level-3 .ct-bar,
.ct-level-3 .ct-line,
.ct-level-3 .ct-point,
.ct-level-3 .ct-slice-donut {
    stroke: $level-3;
}
.ct-level-3 .ct-3rea,
.ct-level-3 .ct-slice-donut-solid,
.ct-level-3 .ct-slice-pie {
    fill: $level-3;
}
.ct-level-4 .ct-bar,
.ct-level-4 .ct-line,
.ct-level-4 .ct-point,
.ct-level-4 .ct-slice-donut {
    stroke: $level-4;
}
.ct-level-4 .ct-4rea,
.ct-level-4 .ct-slice-donut-solid,
.ct-level-4 .ct-slice-pie {
    fill: $level-4;
}
.ct-level-5 .ct-bar,
.ct-level-5 .ct-line,
.ct-level-5 .ct-point,
.ct-level-5 .ct-slice-donut {
    stroke: $level-5;
}
.ct-level-5 .ct-5rea,
.ct-level-5 .ct-slice-donut-solid,
.ct-level-5 .ct-slice-pie {
    fill: $level-5;
}
.ct-level-6 .ct-bar,
.ct-level-6 .ct-line,
.ct-level-6 .ct-point,
.ct-level-6 .ct-slice-donut {
    stroke: $level-6;
}
.ct-level-6 .ct-6rea,
.ct-level-6 .ct-slice-donut-solid,
.ct-level-6 .ct-slice-pie {
    fill: $level-6;
}
.ct-label {
    color: #fff;
    fill: #fff;
}
.ct-grid {
    stroke: none;
}
.ct-horizontal:nth-of-type(1) {
    stroke: #fff;
    stroke-dasharray: 0;
}
.ct-vertical {
    stroke: #585858;
}
.ct-horizontal + .ct-vertical {
    stroke: #fff;
    stroke-dasharray: 0;
}
.ct-label.ct-vertical {
    transform: translateY(10px);
}
.level {
    height: 10rem;
}
.level-main {
    height: 100%;
    background: rgba(12, 26, 68, 0.8);
    display: flex;
    padding: 0 5px;
    align-items: center;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    li {
        width: 16.66666%;
        flex-grow: 1;
    }
    span {
        display: block;
        border-top: 0.5rem solid;
    }
}
.level-1 span {
    border-top-color: $level-1;
}
.level-2 span {
    border-top-color: $level-2;
}
.level-3 span {
    border-top-color: $level-3;
}
.level-4 span {
    border-top-color: $level-4;
}
.level-5 span {
    border-top-color: $level-5;
}
.level-6 span {
    border-top-color: $level-6;
}
.level-aside {
    margin-left: 1rem;
    cursor: pointer;
    height: 100%;
}
.level-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
    }
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 50vw;
        transform: translateX(-50%) translateY(-50%);
    }
}
.map {
    height: 100vh;
}
.map-bd {
    background: #fff;
}