.visible-sm-block {
  display: block !important;
}

.visible-sm-inline {
  display: inline !important;
}

.visible-sm-inline-block {
  display: inline-block !important;
}

.hidden-sm {
  display: none !important;
}

body {
  background-image: url(../images/body.svg);
  background-size: 100% auto;
}

@media (max-width: 324px) {
  .level {
    height: auto;
  }

  .level-main em {
    display: block;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
  }

  .level-1 em,
  .level-2 em {
    line-height: 2rem;
  }

  .level-3 em,
  .level-4 em,
  .level-5 em {
    width: 2rem;
    margin: 0 auto;
    line-height: 1;
    padding-top: 0.4rem;
  }
}
.air {
  padding-bottom: 2rem;
}

.level {
  height: 3.13rem;
  font-size: 0.75rem;
}

.level-main {
  padding: 0 0.31rem;
}
.level-main span {
  border-top-width: 0.25rem;
}

.dashboard-hd {
  top: -0.9rem;
  margin-bottom: -0.9rem;
}
.dashboard-hd span {
  font-size: 1.5rem;
}
.dashboard-hd small {
  font-size: 0.88rem;
}

.dashboard-bd {
  padding: 0.5rem 0;
}

.dashboard-item {
  margin: 0.25rem 1.44rem;
}

.dashboard-icon {
  width: 6.5rem;
}
.dashboard-series .dashboard-icon {
  width: 5rem;
}
.dashboard-icon:first-child {
  margin-left: 2rem;
}

.dashboard-data-bd {
  font-size: 1.75rem;
}

.dashboard-unit {
  font-size: 1rem;
}

.dashboard-status {
  font-size: 1.25rem;
}

.dashboard-level-1 .dashboard-status,
.dashboard-level-2 .dashboard-status {
  font-size: 2.75rem;
}

.chart-tab button {
  font-size: 1.13rem;
}

.average-chart {
  padding: 0.63rem 1em;
}

.chart-title {
  margin-bottom: 0.5rem;
  font-size: 1.13rem;
}

.chart-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ct-bar {
  stroke-width: 0.38rem;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-bd {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.map-ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23vh;
  background: url(../images/map-bg.svg);
  background-size: cover;
  color: #fff;
}

.map-aside {
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 3.75rem;
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.map-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.map-subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
}

.map-title {
  font-size: 1.69rem;
}

.map-freeze-ft {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-freeze-title {
  font-size: 2.13rem;
}

.slick-dots {
  position: absolute;
  left: 0;
  bottom: 0.75rem;
  width: 100%;
  font-size: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999rem;
  background-color: #0A204D;
}
.slick-dots li + li {
  margin-left: 0.22rem;
}
.slick-dots .slick-active {
  background-color: #BFBFBF;
}
.slick-dots button {
  display: none;
}

.map-ozone-aside {
  font-size: 4rem;
}
.map-ozone-aside sub {
  font-size: 2.25rem;
}

/*# sourceMappingURL=mobile.css.map */