.visible-sm-block {
    display: block !important;
}
.visible-sm-inline {
    display: inline !important;
}
.visible-sm-inline-block {
    display: inline-block !important;
}
.hidden-sm {
    display: none !important;
}
body {
    background-image: url(../images/body.svg);
    background-size: 100% auto;
}
@media (max-width: 324px) {
    .level {
        height: auto;
    }
    .level-main em {
        display: block;
        height: 2rem;
        text-align: center;
        vertical-align: middle;
    }
    .level-1,
    .level-2 {
        em {
            line-height: 2rem;
        }
    }
    .level-3,
    .level-4,
    .level-5 {
        em {
            width: 2rem;
            margin: 0 auto;
            line-height: 1;
            padding-top: 0.4rem;
        }
    }
}
.air {
    padding-bottom: 2rem;
}
.level {
    height: 3.13rem;
    font-size: 0.75rem;
}
.level-main {
    padding: 0 0.31rem;
    span {
        border-top-width: 0.25rem;
    }
}
.dashboard-hd {
    top: -0.9rem;
    margin-bottom: -0.9rem;
    span {
        font-size: 1.5rem;
    }
    small {
        font-size: 0.88rem;
    }
}
.dashboard-bd {
    padding: 0.5rem 0;
}
.dashboard-item {
    margin: 0.25rem 1.44rem;
}
.dashboard-icon {
    width: 6.5rem;
    .dashboard-series & {
        width: 5rem;
    }
    &:first-child {
        margin-left: 2rem;
    }
}
.dashboard-data-bd {
    font-size: 1.75rem;
}
.dashboard-unit {
    font-size: 1rem;
}
.dashboard-status {
    font-size: 1.25rem;
}
.dashboard-level-1,
.dashboard-level-2 {
    .dashboard-status {
        font-size: 2.75rem;
    }
}
.chart-tab {
    button {
        font-size: 1.13rem;
    }
}
.average-chart {
    padding: 0.63rem 1em;
}
.chart-title {
    margin-bottom: 0.5rem;
    font-size: 1.13rem;
}
.chart-tab {
    display: flex;
    justify-content: space-between;
}
.ct-bar {
    stroke-width: 0.38rem;
}
.map {
    display: flex;
    flex-direction: column;
}
.map-bd {
    flex-grow: 1;
}
.map-ft {
    display: flex;
    align-items: center;
    height: 23vh;
    background: url(../images/map-bg.svg);
    background-size: cover;
    color: #fff;
}
.map-aside {
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 3.75rem;
    text-align: right;
    flex-grow: 1;
}
.map-main {
    flex-grow: 1;
}
.map-subtitle {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.25rem;
}
.map-title {
    font-size: 1.69rem;
}
.map-freeze-ft {
    justify-content: center;
}
.map-freeze-title {
    font-size: 2.13rem;
}
.slick-dots {
    position: absolute;
    left: 0;
    bottom: 0.75rem;
    width: 100%;
    font-size: 0;
    text-align: center;
    li {
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 999rem;
        background-color: #0A204D;
        + li {
            margin-left: 0.22rem;
        }
    }
    .slick-active {
        background-color: #BFBFBF;
    }
    button {
        display: none;
    }
}
.map-ozone-aside {
    font-size: 4rem;
    sub {
        font-size: 2.25rem;
    }
}










