$blue: #2A76F7;
.visible-md-block {
    display: block !important;
}
.visible-md-inline {
    display: inline !important;
}
.visible-md-inline-block {
    display: inline-block !important;
}
.hidden-md {
    display: none !important;
}
.select {
    position: relative;
    height: 2rem;
    text-align: center;
    label {
        display: block;
        padding-right: 1.13rem;
        border-left: 0.81rem solid transparent;
        border-right: 0.81rem solid transparent;
        background-color: $blue;
        font-size: 1.13rem;
        line-height: 2rem;
        border-radius: 999rem;
        color: #fff;
        &:after {
            content: '';
            position: absolute;
            right: 0.81rem;
            bottom: 0;
            width: 1.13rem;
            height: 100%;
            background: no-repeat center center url('data:image/svg+xml;utf8,<svg width="13px" height="8px" viewBox="0 0 13 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"> <polyline id="Path-3" stroke="#FFFFFF" points="1 0 6.45499992 7.77842582 11.9099998 0"></polyline> </g> </svg>');
            background-size: auto 0.5rem;
            transition: all 0.3s;
        }
    }
    &:focus label:after {
        transform: rotate(-180deg);
    }
}
.select-bd {
    position: absolute;
    left: 50%;
    bottom: -9999rem;
    transform: translateX(-50%);
    min-width: 6.75rem;
    padding: 1rem 0;
    background: #fff url('data:image/svg+xml;utf8,<svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.8"> <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="25" height="25"></rect> </g> </svg>');
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    transition-delay: 0.2s;
    .select:focus & {
        bottom: 3rem;
        background-image: url();
    }
    span,
    button {
        position: relative;
        display: block;
        width: 100%;
        height: 1.75rem;
        border: 0;
        background-color: transparent;
        font-size: 1.13rem;
        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -0.5rem;
        border-width: 0.5rem;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.80) transparent transparent transparent;
    }
}
.slick-dots {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.air {
    min-height: 38rem;
}
.dashboard-hd {
    top: -1.5rem;
    margin-bottom: -1.5rem;
    span {
        font-size: 2.5rem;
    }
    small {
        font-size: 1.25rem;
    }
}
.dashboard-bd {
    margin-top: -0.25rem;
    padding: 1rem 1rem 2rem 1rem;
}
.dashboard-item {
    height: 6.625rem;
}
.dashboard-single .dashboard-item {
    float: left;
    width: calc(50% - 2rem);
    margin: 0.25rem 1rem;
}
.dashboard-series {
    .dashboard-item {
        margin: 0.25rem 0;
    }
    .dashboard-col {
        float: left;
        width: calc(50% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
        &:nth-of-type(even) .dashboard-item {
            background-color: rgba(119, 23, 105, 0.5);
        }
    }
}
.dashboard-point {
    display: none;
}
.dashboard-icon {
    margin-left: 2rem;
}
.dashboard-data-bd {
    font-size: 2.25rem;
}
.dashboard-unit {
    font-size: 1.25rem;
}
.dashboard-status {
    font-size: 2rem;
}
.dashboard-level-1,
.dashboard-level-2 {
    .dashboard-data {
        width: 3.5rem;
    }
    .dashboard-status {
        font-size: 3.13rem;
    }
}
.qrcode {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    height: 4.25rem; 
    cursor: pointer;
}
.chart-tab {
    button {
        font-size: 1.25rem;
    }
}
.chart {
    .select {
        float: right;
        margin-left: 0.5rem;
    }
}
.average-chart {
    padding: 0.63rem 2.25rem;
}
.chart-title {
    float: left;
    font-size: 1.5rem;
}
.chart-tab {
    float: right;
}
.ct-bar {
    stroke-width: 0.625rem;
}
.level {
    display: flex;
    height: 4.25rem;    
}
.level-main {
    flex-grow: 1;
    padding: 0 0.63rem;
}
.tabbar {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateY(150%);
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
    .tabbar-visible & {
        transform: translateY(0);
    }
}
.tabbar-bd {
    display: flex;
    align-items: center;
}
.tabbar-button {
    display: flex;
    span,
    button {
        border: 0;
        margin-right: 1.63rem;
        margin-bottom: 3px;
        text-align: center;
        cursor: pointer;
        &:before {
            display: block;
            content: '';
            width: 3.75rem;
            height: 3.75rem;
            margin-bottom: 3px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
.tabbar-average:before {
    background-image: url(../images/average.svg);
}
.tabbar-high:before {
    background-image: url(../images/high.svg);
}
.tabbar-pm25:before {
    background-image: url(../images/pm25.svg);
}
.tabbar-pm10:before {
    background-image: url(../images/pm10.svg);
}
.tabbar-ozone:before {
    background-image: url(../images/ozone.svg);
}
.tabbar-freeze:before {
    background-image: url(../images/freeze.svg);
}
.tabbar-option {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    .select {
        margin-left: 1rem;
    }
}
.tabbar-autoplay {
    text-align: center;
}
.map {
    position: relative;
}
.map-md-title {
    position: absolute;
    left: 0.63rem;
    top: 0.63rem;
    padding: 0 2.63em;
    background: url(../images/title-bg.svg) no-repeat center center;
    background-size: cover;
    line-height: 3.75rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.map-bd {
    height: 100vh;
}
.popup {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 1.25rem;
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
    transform: translateY(110%);
    color: #fff;
}
.popup-visible {
    transform: translateY(0);
}
.popup-hd {
    display: flex;
    align-items: center;
    h3 {
        flex-grow: 1;
        font-size: 1.25rem;
    }
}
.timeline-bd {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.timeline-play,
.timeline-pause {
    width: 3rem;
    height: 3rem;
    border-radius: 999rem;
    margin-right: 0.63rem;
    background: #0157FF no-repeat center center;
    background-size: contain;
}
.timeline-play {
    background-image: url('data:image/svg+xml;utf8,<svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g fill-rule="nonzero"> <g> <path d="M24.198119,0.000815008158 C10.9436404,-0.107262382 0.108892296,10.547367 0.000815007387,23.8018581 C-0.107262281,37.0563492 10.547357,47.8881055 23.8018356,47.999185 C37.0563141,48.1072624 47.8880601,37.452633 47.9991395,24.1981419 C48.110219,10.9436508 37.4525975,0.111894548 24.198119,0.000815008158 Z" fill="#0157FF"></path> <path d="M21.5407674,34.7910024 L34.64447,24.3445115 C35.1135197,23.968568 35.119457,23.2581238 34.6563447,22.87626 L21.7277935,12.2195959 C21.1132792,11.7104442 20.1811173,12.1426311 20.1751799,12.9418809 L20.0000285,34.0479961 C19.9940912,34.8413256 20.9173471,35.2883134 21.5407674,34.7910024 Z" fill="#FFFFFF"></path> </g> </g> </g> </svg>');
}
.timeline-pause {
    background-image: url('data:image/svg+xml;utf8,<svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g fill-rule="nonzero"> <path d="M24.198119,0.000815008158 C10.9436404,-0.107262382 0.108892296,10.547367 0.000815007387,23.8018581 C-0.107262281,37.0563492 10.547357,47.8881055 23.8018356,47.999185 C37.0563141,48.1072624 47.8880601,37.452633 47.9991395,24.1981419 C48.110219,10.9436508 37.4525975,0.111894548 24.198119,0.000815008158 Z" fill="#0157FF"></path> <rect fill="#FFFFFF" x="17" y="13" width="5" height="23" rx="2"></rect> <rect fill="#FFFFFF" x="26" y="13" width="5" height="23" rx="2"></rect> </g> </g> </svg>');
}
.timeline-range {
    position: relative;
    flex-grow: 1;
}
.timeline-field {
    display: block;
    width: 100%;
}
.timeline-gauge {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 300;
    span {
        position: relative;
        width: 2rem;
        text-align: center;
        &:nth-of-type(1) {
            left: -0.5rem;
        }
        &:nth-of-type(2) {
            left: -0.5rem;
        }
        &:nth-of-type(3) {
            left: -0.3rem;
        }
        &:nth-of-type(4) {
            left: -0.1rem;
        }
        &:nth-of-type(9) {
            left: 0.2rem;
        }
        &:nth-of-type(10),
        &:nth-of-type(11) {
            left: 0.3rem;
        }
        &:nth-of-type(12) {
            right: -0.5rem;
        }
    }
}

