<div class="map">
    <div class="map-bd" ref="map"></div>
    <div class="map-ft">
        <div class="map-aside map-ozone-aside">O<sub>3</sub></div>
        <div class="map-main">
            <div class="map-subtitle">海淀街道7点位</div>
            <h2 class="map-title">浓度分布图</h2>
        </div>
    </div>
</div>