<div class="map">
    <div class="map-bd" ref="map"></div>
    <h2 class="map-md-title">辖区路面结冰状态图 (7点位)</h2>
    <timeline class="popup" :class="{'popup-visible': popupVisible}" @toggle="popupToggle"></timeline>
</div>