<div class="map">
    <div class="map-bd" ref="map"></div>
    <h2 class="map-md-title">海淀街道O<sub>3</sub>浓度分布图（7点位）</h2>
    <chart class="popup" :class="{'popup-visible': popupVisible}" defaultDataType="ozone" @toggle="popupToggle"></chart>
</div>