<div class="map">
    <div class="map-bd" ref="map"></div>
    <h2 class="map-md-title">海淀街道PM10浓度分布图（7点位）</h2>
    <chart class="popup" :class="{'popup-visible': popupVisible}" defaultDataType="pm10" @toggle="popupToggle"></chart>
</div>