<script type="text/html" id="template-air-quality-average"><!--#include virtual="/templates/air-quality-average.html" --></script>
<script type="text/html" id="template-air-quality-single"><!--#include virtual="/templates/air-quality-single.html" --></script>
<script type="text/html" id="template-dashboard"><!--#include virtual="/templates/dashboard.html" --></script>
<script type="text/html" id="template-chart"><!--#include virtual="/templates/chart.html" --></script>
<script type="text/html" id="template-pm25"><!--#include virtual="/templates/pm25.html" --></script>
<script type="text/html" id="template-tabbar"><!--#include virtual="/templates/tabbar.html" --></script>

<script src="//api.map.baidu.com/getscript?v=2.0&ak=8d1c8a0d9c790517bee1b68417ec625d&t=20170703123905"></script>
<script src="libs/slick-1.8.1/slick.js"></script>
<script src="libs/chartist-0.11.0/chartist.js"></script>
<script src="libs/odometer-0.4.6/odometer.js"></script>
<script src="libs/nouislider-11.0.3/nouislider.js"></script>
<script src="js/components/odometer.js"></script>
<script src="js/common.js"></script>
<script src="js/util.js"></script>
<script src="js/components/dashboard.js"></script>
<script src="js/components/chart.js"></script>
<script src="js/components/air-quality-average.js"></script>
<script src="js/components/air-quality-single.js"></script>
<script src="js/components/pm25.js"></script>
<script src="js/components/pm10.js"></script>
<script src="js/components/ozone.js"></script>
<script src="js/components/freeze.js"></script>
<script src="js/index.js"></script>