<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>物联网</title>
<link rel="stylesheet" href="libs/slick-1.8.1/slick.css">
<link rel="stylesheet" href="libs/chartist-0.11.0/chartist.css">
<link rel="stylesheet" href="libs/odometer-0.4.6/odometer-theme-minimal.css">
<link rel="stylesheet" href="libs/nouislider-11.0.3/nouislider.css">
<link rel="stylesheet" href="style/common.css">

<script src="libs/jquery-3.2.1.js"></script>
<script src="libs/vue-2.5.13.js"></script>

<script>
window.app = {
    common: {},
    components: {},
    _debug: {}
};
</script>