<div class="wrapper air">
    <dashboard :aqi="aqi"></dashboard>
    <chart class="average-chart" :defaultDataType="'pm25'" :defaultChartType="'Bar'"></chart>
    
    <div class="level">
        <ul class="level-main">
            <li class="level-1"><em>优</em><span>一级</span></li>
            <li class="level-2"><em>良</em><span>二级</span></li>
            <li class="level-3"><em>轻度污染</em><span>三级</span></li>
            <li class="level-4"><em>中度污染</em><span>四级</span></li>
            <li class="level-5"><em>重度污染</em><span>五级</span></li>
            <li class="level-6"><em>严重污染</em><span>六级</span></li>
        </ul>
        <img class="level-aside hidden-sm" src="images/_temp/qrcode.png" alt="" @click="showQrcode($event)">
    </div>
</div>