<div class="chart">
    <div class="chart-hd clearfix">
        <h2 class="chart-title">实时AQI24小时柱状图</h2>
        
        <div class="select chart-datetime" tabindex="-1">
            <label>小时</label>
            <div class="select-bd">
                <button type="button">小时</button>
                <button type="button">天</button>
                <button type="button">周</button>
            </div>
        </div>

        <div class="select chart-type" tabindex="-1">
            <label>柱状图</label>
            <div class="select-bd">
                <button type="button">柱状图</button>
            </div>
        </div>

        <div class="chart-tab" :class="['chart-selected-' + dataType]">
            <button class="chart-pm25" type="button" @click="dataType = 'pm25' ">PM2.5</button>
            <button class="chart-ozone" type="button" @click="dataType = 'ozone' ">O<sub>3</sub></button>
            <button class="chart-so2" type="button" @click="dataType = 'so2' ">SO<sub>2</sub></button>
            <button class="chart-pm10" type="button" @click="dataType = 'pm10' ">PM10</button>
            <button class="chart-no2" type="button" @click="dataType = 'no2' ">NO<sub>2</sub></button>
            <button class="chart-co" type="button" @click="dataType = 'co' ">CO</button>
        </div>
    </div>
    <div class="chart-bd" ref="chart"></div>
</div>