<div v-if="aqi" class="dashboard">
    <h2 class="dashboard-hd"><span>{{aqi.title}}<small v-if="aqi.subtitle">（{{aqi.subtitle}}）</small></span></h2>
    
    <div class="dashboard-bd clearfix" :class="['dashboard-' + (aqi.series.length > 1 ? 'series' : 'single')]">
        <div v-for="item in aqi.series" class="dashboard-col">
            <h3 v-if="item.title" class="dashboard-subtitle hidden-sm">{{item.title}}</h3>
            <div v-for="one in item.list" 
            class="dashboard-item dashboard-level"
            :class="[
                isHighest(one.value, item.list) ? 'dashboard-primary' : '',
                'dashboard-' + one.type,
                'dashboard-level-' + getLevel(one.value)
            ]">
                <div v-if="item.title" class="dashboard-point">{{item.title}}</div>
                <div class="dashboard-icon"></div>
                <div class="dashboard-data">
                    <odometer class="dashboard-data-bd" :value="one.value"></odometer>
                    <span class="dashboard-unit">{{getUnit(one.type)}}/m<sup>3</sup></span>
                    <div v-if="getLevel(one.value) > 2" class="dashboard-status">{{getLevelText(one.value)}}</div>
                </div>
                <div v-if="getLevel(one.value) <= 2" class="dashboard-status">{{getLevelText(one.value)}}</div>
            </div>
        </div>
    </div>
</div>