<div class="map">
    <div class="map-bd" ref="map"></div>
    <h2 class="map-md-title hidden-sm">海淀街道臭氧浓度分布图 (7点位)</h2>
    <component :is="popup" class="popup" :class="{'popup-visible': popupVisible}" @toggle="popupToggle"></component>
    <div class="map-ft hidden-md">
        <div class="map-aside">臭氧</div>
        <div class="map-main">
            <div class="map-subtitle">海淀街道7点位</div>
            <h2 class="map-title">浓度分布图</h2>
        </div>
    </div>
</div>