<div class="tabbar hidden-sm">
    <div class="tabbar-bd wrapper">
        <div class="tabbar-button">
            <span class="tabbar-average" @click="$emit('carousel-goto', 0)">P1</span>
            <span class="tabbar-high" @click="$emit('carousel-goto', 1)">P2</span>
            <span class="tabbar-pm25" @click="$emit('carousel-goto', 2)">P3</span>
            <span class="tabbar-pm10" @click="$emit('carousel-goto', 3)">P4</span>
            <span class="tabbar-ozone" @click="$emit('carousel-goto', 4)">P5</span>
            <span class="tabbar-freeze" @click="$emit('carousel-goto', 5)">P6</span>
        </div>

        <div class="tabbar-option">
            <div class="tabbar-autoplay">
                <label class="switch">
                    <input type="checkbox" v-model="autoplay">
                    <span class="slider"></span>
                </label>
                <div>自动翻页</div>
            </div>

            <div class="select" tabindex="-1">
                <label>翻页间隔</label>
                <div class="select-bd">
                    <button @click="updateCarouselOptions('autoplaySpeed', 15000)">15秒</button>
                    <button @click="updateCarouselOptions('autoplaySpeed', 30000)">30秒</button>
                    <button @click="updateCarouselOptions('autoplaySpeed', 45000)">45秒</button>
                </div>
            </div>

            <div class="select" tabindex="-1">
                <label>翻页动画</label>
                <div class="select-bd">
                    <button @click="updateCarouselOptions('fade', false)">滑动</button>
                    <button @click="updateCarouselOptions('fade', true)">渐变</button>
                </div>
            </div>
        </div>
    </div>
</div>