<div class="timeline">
    <div class="popup-hd">
        <h3>播放时段：20171218 1:00-12:00</h3>
        <div class="select" tabindex="-1">
            <label>{{typeText}}</label>
            <div class="select-bd">
                <button type="button" @click="type = 'hour' ">小时</button>
                <button type="button" @click="type = 'day' ">天</button>
                <button type="button" @click="type = 'week' ">周</button>
            </div>
        </div>
    </div>
    <div class="popup-bd">
        <div class="timeline-bd">
            <button type="button"
                :class="{'timeline-play': !playing, 'timeline-pause': playing}"
                @click="playing = !playing"></button>
            <div class="timeline-range">
                <input class="timeline-field" type="range" step="1" min="1" max="12">
                <div class="timeline-gauge">
                    <span v-for="n in 12">{{n}}</span>
                </div>
            </div>
        </div>
    </div>
</div>